{% extends 'base.html'%}
{% block title %}
Entrega Freelancer
{% endblock %}
{% block content %}
    <div class="logo">
        <img src="{{url_for('static', filename='/img/logo_unico_branco.png')}}" alt="Logo">
    </div>
    <div class="caixaRecuperar">
        <h1>Entrega</br>Freelancer</br></h1>
        <form action="/recuperalogin" method="POST" class="recuperarPost">
            <h4>
                Recuperar sua senha
            </h4>
            <p>
                Podemos ajudá-lo a redefinir sua senha e informações de segurança.
                Primeiro, insira sua conta e selecione para receber o email de troca de senha.
            </p>

            <input type="text" id="nome" name="nome" placeholder="E-mail Cadastrado">
            <button type="submit" class="btnSubmitForm" onClick="{{url_for('recuperar')}}";>Recupere sua senha</button>
        </form>
    </div>
{% endblock %}