{% extends 'base.html'%}
{% block title %}
Entrega Freelancer
{% endblock %}
{% block content %}
<body class="sistema_logado">
    <div class="menu">
        <div id="sub_menu_user">
            <a href="">
                <img src="{{url_for('static', filename='/img/logo_unico_branco.png')}}" alt="Home">
            </a>
            <h1>Entrega Freelancer</h1>
            <a href="">
                <img src="{{url_for('static', filename='/img/person.png')}}" alt="Home">
            </a>
        </div>
        <hr>
        <div id="sub_menu_busca">
            <a href="">
                <img src="{{url_for('static', filename='/img/place.png')}}" alt="Home">
            </a>
            <form id="busca_form" action="{{ url_for('busca') }}" method="get" enctype="application/x-www-form-urlencoded"
          onsubmit="return buscar()">
                <img src="{{url_for('static', filename='/img/search.png')}}" alt="Home">
                <input type="text" id="busca" name="busca" placeholder="Buscar">
            </form>
            <a href="">
                <img src="{{url_for('static', filename='/img/shop_cart.png')}}" alt="Home">
            </a>
        </div>
    </div>
    <div class="home_base", id="start_home">
        {% block content_index %}

        {% endblock %}
    </div>
    <div class="footer">
        <a class="anuncie_contrate" href="">
            <img src="{{url_for('static', filename='/img/logo_unico_branco.png')}}" alt="Home">
            <div class="texto_footer">
                <p>Anuncie e contrate com o app!</p>
            </div>
        </a>
    </div>
</body>
<script>
    {% block script %}
    {% endblock %}

    function buscar() {
        palavraChave = document.getElementById("busca").value;
        xhr = new XMLHttpRequest();
        xhr.open("GET", "/busca?busca=" + palavraChave);
        xhr.send(null);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                document.getElementById("start_home").innerHTML = xhr.response;
            }
        }
        return false;
    }
</script>
{% endblock %}