<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{%block title%} {%endblock%}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="menu">
        <div id="sub_menu_user">
            <a href="">
                <img src="{{url_for('static', filename='/img/logo_unico_branco.png')}}" alt="Home">
            </a>
            <h1>Entrega Freelancer</h1>
            <a href="">
                <img src="{{url_for('static', filename='/img/person.png')}}" alt="Home">
            </a>
        </div>
        <hr>
        <div id="sub_menu_busca">
            <a href="">
                <img src="{{url_for('static', filename='/img/place.png')}}" alt="Home">
            </a>
            <div>
                <img src="{{url_for('static', filename='/img/search.png')}}" alt="Home">
                <input type="text" id="busca" name="busca" placeholder="Buscar">
            </div>
            <a href="">
                <img src="{{url_for('static', filename='/img/shop_cart.png')}}" alt="Home">
            </a>
        </div>
    </div>
    {% block content %}

	{% endblock %}
</body>
</html>