@media screen and (max-width: 360px) {
    .telas_login{
        margin: 0;
        background-color: #000042;
        display: grid;
        grid-template-columns: 60vh;
        /* grid-template-rows: 20vh; */
        grid-template-areas: "header" "conteudo" "footer";
        justify-content: center;
        align-items: center;
        justify-items: center;
        min-height: 100vh;
        max-height: 100vh;
    }

    .telas_login div.logo{
        grid-area: "header";
        width: 56vh;
        display: flex;
        justify-content: center;
    }

    .telas_login div.logo img{
        width: 17vh;
    }

    .telas_login div.caixaLogin{
        grid-area: "conteudo";
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border-radius: 3vh;
        width: 50vh;
        height: 58vh;
    }

    .telas_login div.caixaNova{
        grid-area: "conteudo";
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border-radius: 3vh;
        width: 50vh;
        height: 77vh;
    }

    .telas_login div.caixaRecuperar{
        grid-area: "conteudo";
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border-radius: 3vh;
        width: 50vh;
        height: 58vh;
    }

    .telas_login div.caixaRecuperar form.recuperarPost{
        font-family: system-ui;
        width: 45vh;
    }

    .telas_login div.caixaRecuperar form.recuperarPost h4{
        margin: 2vh 0;
        font-weight: 900;
        font-size: large;
    }

    .telas_login div.caixaRecuperar form.recuperarPost p{
        margin: 1vh 0;
    }

    .telas_login div.caixaRecuperar form.recuperarPost p#mensagemConfEmail{
        margin: 3vh 0;
    }

    .telas_login div.caixaRecuperarVolta{
        grid-area: "conteudo";
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border-radius: 3vh;
        width: 50vh;
        height: 47vh;
    }

    .telas_login div.caixaRecuperarVolta div.recuperarVoltaPost{
        font-family: system-ui;
        width: 45vh;
    }

    .telas_login div.caixaRecuperarVolta div.recuperarVoltaPost h4{
        margin: 2vh 0;
        font-weight: 900;
        font-size: large;
    }

    .telas_login div.caixaRecuperarVolta div.recuperarVoltaPost p{
        margin: 1vh 0;
    }

    .telas_login div.caixaRecuperarVolta div.recuperarVoltaPost p#mensagemConfEmail{
        margin: 3vh 0;
    }

    .telas_login div.caixaNova label{
        font-family: system-ui;
        font-weight: 700;
    }

    .telas_login div.caixaNova input{
        width: 100%;
        padding: 2vh 3vh;
        margin: 0;
        display: inline-block;
        border: 0.2vh solid #ccc;
        border-radius: 4vh;
        box-sizing: border-box;
        background-color: #000042;
        color: #fff;
    }

    .telas_login div.caixaRecuperar input{
        width: 100%;
        padding: 2vh 3vh;
        margin: 1.5vh 0;
        display: inline-block;
        border: 0.2vh solid #ccc;
        border-radius: 4vh;
        box-sizing: border-box;
        background-color: #000042;
        color: #fff;
    }

    .telas_login h1 {
        margin: 1vh 0;
        font-size: 5vh;
        text-align: center;
        color: #000042;
        text-shadow: 0px 3px 5px #000;
        font-family: sans-serif;
    }

    .telas_login form {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .telas_login a#esqueceu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 0 1vh 0;
        text-decoration: none;
        font-weight: 600;
        color:  #000042;
    }

    .telas_login a#nova_conta{
        text-decoration: none;
        font-weight: 600;
        color:  #000042;
    }

    .telas_login div.caixaLogin input{
        width: 100%;
        padding: 2vh 3vh;
        margin: 1.5vh 0;
        display: inline-block;
        border: 0.2vh solid #ccc;
        border-radius: 4vh;
        box-sizing: border-box;
        background-color: #000042;
        color: #fff;
    }

    ::placeholder {
        color: #fff;
        opacity: .5;
        font-family: system-ui;
        font-weight: 700;
    }

    .telas_login div.caixaLogin button.btnSubmitForm{
        padding: 1vh 3vh;
        margin: 1.5vh 0;
        display: inline-block;
        border: 0.2vh solid #ccc;
        border-radius: 4vh;
        box-sizing: border-box;
        background-color: #000042;
        color: #fff;
        font-size: 3.5vh;
    }

    .telas_login div.caixaNova button.btnSubmitForm, .telas_login div.caixaRecuperar button.btnSubmitForm{
        padding: 1vh 3vh;
        margin: 2.5vh 0;
        display: inline-block;
        border: 0.2vh solid #ccc;
        border-radius: 4vh;
        box-sizing: border-box;
        background-color: #000042;
        color: #fff;
        font-size: 3.5vh;
    }

    .telas_login div.caixaRecuperarVolta a#back_button{
        padding: 1vh 3vh;
        margin: 5vh 0;
        display: inline-block;
        border: 0.2vh solid #ccc;
        border-radius: 4vh;
        box-sizing: border-box;
        background-color: #000042;
        color: #fff;
        font-size: 3.5vh;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    .telas_login p{
        margin: 1vh;
    }

    .telas_login form.gmail_acesso{
        grid-area: "footer";
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border-radius: 3vh 3vh 0 0;
        width: 56vh;
        height: -webkit-fill-available
    }

    .telas_login form.gmail_acesso a#gmail_button{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        text-decoration: none;
    }

    .telas_login form.gmail_acesso p{
        margin-top: 2vh;
        font-family: system-ui;
        font-weight: 700;
    }

    .telas_login form.gmail_acesso a#gmail_button p{
        padding: 1vh 3vh;
        margin: 1.5vh 0;
        display: inline-block;
        border: 0.2vh solid #ccc;
        border-radius: 4vh;
        box-sizing: border-box;
        background-color: #DB473B;
        color: #fff;
        font-size: 3.5vh;
    }

    .telas_login form.gmail_acesso img{
        width: 7.6vh;
    }

    /* INICIO SISTEMA*/
    .sistema_logado{
        margin: 0;
        /*background-color: #000042;*/
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .sistema_logado div.menu{
        background-color: #000042;
        width: 56vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: stretch;
        padding: 0.5vh 0.3vw;
    }

    .sistema_logado div.menu img{
        width:4vh;
    }

    .sistema_logado div.menu div#sub_menu_user{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 1vh;
    }

    .sistema_logado div.menu div#sub_menu_user h1{
        margin:0;
        font-size: 3vh;
        text-align: center;
        color: #fff;
        text-shadow: 0 0 3px #fff;
        font-family: system-ui;
    }

    .sistema_logado div.menu hr{
        width: 55vh;
        margin: .3vh;
    }

    .sistema_logado div.menu div#sub_menu_busca{
        display: flex;
        justify-content: space-around;
        margin: 0 1vh .5vh 0;
        align-items: center;
    }

    .sistema_logado div.menu div#sub_menu_busca #busca_form{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0 0.5vh;
        align-items: center;
        background-color: #fff;
    }

    .sistema_logado div.menu div#sub_menu_busca #busca_form input{
        border: none;
        background-color: #fff;
        resize: none;
        outline: none;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        height: 3.5vh;
    }

    .sistema_logado div.menu div#sub_menu_busca #busca_form input::-webkit-input-placeholder{
        color: #000;
        opacity: .5;
        font-family: system-ui;
        font-weight: 700;
    }

    .home_base{
        background-color: #e2e2e2;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: column;
        width: 56vh;
        padding: 0 0 5vh;
    }

    .sistema_logado div.anuncio img{
        width: 98vw;
    }

    .sistema_logado div.entregadores, .telas_login div.empresas{
        margin: 0;
    }

    .sistema_logado div.entregadores div.entregadores_titulo, .sistema_logado div.empresas div.empresas_titulo{
        display: flex;
        justify-content: space-between;
        width: 52vh;
        align-items: center;
        margin-bottom: 1vh;
    }

    .sistema_logado div.entregadores div.entregadores_titulo h2, .sistema_logado div.empresas div.empresas_titulo h2{
        margin: 2vw 0 0 3vw;
        font-size: 4vh;
        text-align: justify;
        color: #858585;
        font-family: system-ui;
    }

    .sistema_logado div.entregadores div.entregadores_titulo a, .sistema_logado div.empresas div.empresas_titulo a{
        margin:0;
        font-size: 3vh;
        text-align: justify;
        color: #000042;
        font-family: system-ui;
        text-decoration: none;
    }

    .anuncio{
        display: flex;
        background-color: #cbcbcb;
        margin: .5vh;
        text-decoration: none;
        color: black;
    }

    .img_place{
        width: 30vw;
        height: 14vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img_anuncio{
        width: 20vw;
    }

    .anuncio_content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-family: system-ui;
    }

    .nome_anuncio{
        display: flex;
        justify-content: flex-start;
        font-size: 3.5vw;
    }
    .nome_anuncio h2{
        margin: 0;
    }

    .descr_anuncio{

    }

    .end_anuncio{

    }

    .footer{
        background-color: #000042;
        width: 100%;
    }

    .anuncie_contrate{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
    }

    .anuncie_contrate img{
        width: 8vw;
    }

    .texto_footer p{
        margin: 0;
        padding: 3vw;
        font-size: 5.5vw;
    }

    .anuncio_proprio{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        font-family: system-ui;
    }

    .nome_anuncio_proprio{
        margin-left: 5vw;
        /*text-shadow: .2vw .2vw 3vw black;*/
    }

    .img_place_proprio{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2vw;
    }

    .img_anuncio_proprio{
        width: 40vw;
        box-shadow: 0px 0px 5px 3px #ccc;
    }

    .anuncio_content_proprio{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-left: 5vw;
    }

    .preco_anuncio_proprio{
        display: flex;
        font-size: 7vw;
        font-weight: 600;
        align-items: flex-end;
        flex-direction: row;
        text-shadow: .2vw .2vw 1vw black;
    }

    .cifrao_anuncio_proprio{
        margin-right: 1vw;
    }

    .valor_anuncio_proprio{
        margin-right: 1vw;
        font-size: 8vw;
    }

    .por_anuncio_proprio{
        font-size: 5vw;
    }

    .disponibilidade_anuncio_proprio{
        font-size: 4vw;
        font-weight: 400;
    }

    .verificar_anuncio_proprio{
        display: flex;
        justify-content: center;
        padding: 5vw;
    }

    .verificar_anuncio_proprio a{
        text-decoration: none;
        color: #000042;
    }

    .botao_anuncio_proprio{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botao_anuncio_proprio a{
        color: white;
        text-decoration: none;
        font-size: 5vw;
        width: 100%;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: seagreen;
        border-radius: 3vw;
        border: solid .2vw green;
        margin: 5vw;
    }

    .perguntas_anuncio_proprio{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-left: 5vw;
    }

    .input_place_pergunta_anuncio_proprio {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2vh 5vw 0;
    }

    .input_pergunta_anuncio_proprio{
        width: 100%;
        height: 10vh;
        border-radius: 3vw;
    }

    .botao_pergunta_anuncio_proprio{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botao_pergunta_anuncio_proprio a{
        color: white;
        text-decoration: none;
        font-size: 5vw;
        width: 100%;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: steelblue;
        border-radius: 3vw;
        border: solid .2vw darkslateblue;
        margin: 5vw;
    }

    .ultimas_perguntas_anuncio_proprio{
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        align-items: flex-start;
    }

    .titulo_ultimas_perguntas_anuncio_proprio{
        font-size: 5vw;
        font-weight: 700;
        margin: 0 0 2vh;
    }

    .ultimas_perguntas_realizadas_anuncio_proprio{
        font-size: 3.5vw;
        text-align: center;
        width: 100%;
        margin: 0 0 2vh;
    }
}